<div *ngIf="category">
	 <h2>{{category.name}} details!</h2>
	 <div><label>id: </label>{{category.id}}</div>
	 <div>
	 	<label>name: </label>
	 	<input [(ngModel)]="category.name" placeholder="name" />
	 </div>
	 <div>
		 <ul class="posts list-group">
			 <li *ngFor="#post of posts" (click)="gotoPost(post)" class="list-group-item" >
				 {{post.title}}
			 </li>
		 </ul>
	</div>
	<button id="new-post-btn" class="btn btn-default" data-toggle="collapse"  data-target="#new-post">Create a new post</button>
	<div id="new-post" class="form-control collapse my-form">
		{{diagnostic}}
		<form>
		    <div class="form-group">
		      <label for="alterEgo">Title: </label>
		      <input type="text" class="form-control" ><!--[(ngModel)]="post.title" -->
		    </div>
		    <div class="form-group">
		      <label for="alterEgo">Detail: </label>
		      <input type="text" class="form-control">
		    </div>
		   <button type="submit" class="btn btn-default" (click)="create(post)">
		       <span class="glyphicon glyphicon-ok"></span> Submit
		   </button>
		   <button class="btn btn-default" (click)="goBack()">
		        <span class="glyphicon glyphicon-arrow-left"></span> Cancel
		   </button>
		</form>
	</div>
	<button class="btn btn-default" (click)="goBack()">Back</button>

</div>
