<div *ngIf="post">
    <h1>{{post.title}}</h1>
    <p>{{post.detail}}</p>
    <div>
        <ul class="list-group comments">
            <li *ngFor="#comment of comments" class="list-group-item">
                <div>
                {{comment.id}} - {{comment.comment}}
                </div>
                <div> By {{comment.user}} </div>
            </li>
        </ul>
   </div>
    <create-comment></create-comment>
    <button class="btn btn-default" (click)="goBack()">Back</button>



</div>
