{{diagnostic}}
<div id="editForm">
    <form (ngSubmit)="savePost()">
        <div class="form-group">
          <label for="alterEgo"><h3>Title: </h3></label>
          <input type="text" class="form-control" [(ngModel)]="post.title">
        </div>
        <div class="form-group">
          <label for="alterEgo"><h3>Detail: </h3></label>
          <input type="text" class="form-control" [(ngModel)]="post.detail">
        </div>
       <button type="submit" class="btn btn-default">
           <span class="glyphicon glyphicon-ok"></span> Submit
       </button>
       <button class="btn btn-default" (click)="goBack()">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
       </button>
    </form>
</div>
