h2 { color: #444; font-weight: lighter; }
body { margin: 1em; }
body, input[text], button { color: #888; font-family: Cambria, Georgia; }
button { padding: 0.2em; font-size: 14px}
* { font-family: Arial; }

.my-form {
    height: inherit;
    padding: 10px;
    margin-top: 20px;
}
